[package]
name = "pistonite-cu"
version = "0.7.4"
edition = "2024"
description = "Battery-included common utils to speed up development of rust tools"
repository = "https://github.com/Pistonite/cu"
license = "MIT"
authors = ["Pistonight <pistonknight@outlook.com>"]
exclude = [
    "Taskfile.yml"
]

[dependencies]
pistonite-cu-proc-macros = { version = "0.2.6", path = "../copper-proc-macros" }

# --- Always enabled ---
anyhow = "1.0.100"
log = "0.4.29"

# --- Command Line Interface ---
oneshot = { version = "0.1.13", optional = true }
env_filter = { version = "0.1.4", optional = true }
terminal_size = { version = "0.4.3", optional = true }
unicode-width = { version = "0.2.2", features = ["cjk"], optional = true }
clap = { version = "4.5.55", features = ["derive"], optional = true }
regex = { version = "1.12.2", optional = true }
ctrlc = { version = "3.5.1", optional = true }

# --- Coroutine ---
num_cpus = { version = "1.17.0", optional = true }
tokio = { version = "1.49.0", optional = true, features = [
    "macros", "rt-multi-thread"
] }

# --- File System ---
dunce = {version="1.0.5", optional = true}
which = {version = "8.0.0", optional = true }
pathdiff = {version = "0.2.3", optional=true}
filetime = { version = "0.2.27", optional = true}
glob = { version = "0.3.3", optional = true }
spin = {version = "0.10.0", optional = true} # for PIO

# serde
serde = { version = "1.0.228", features = ["derive"], optional = true }
serde_json = { version = "1.0.149", optional = true }
serde_yaml_ng = { version = "0.10.0", optional = true }
toml = { version = "0.9.11", optional = true }

# derive
derive_more = { version = "2.1.1", features = ["full"], optional = true }

[target.'cfg(unix)'.dependencies]
libc = "0.2.180"

[target.'cfg(windows)'.dependencies]
windows-sys = { version = "0.61.2", features = ["Win32_Foundation", "Win32_System_Console", "Win32_Storage_FileSystem", "Win32_Security", "Win32_System_SystemServices"] }

[dev-dependencies]

[dev-dependencies.tokio]
version = "1.49.0" 
features = [ "macros", "rt-multi-thread", "time" ]

[features]
default = []
full = [
    "cli",
    "coroutine-heavy",
    "prompt",
    "process",
    "json",
    "yaml",
    "toml",
    "derive",
]

# --- Command Line Interface ---
print = ["dep:oneshot", "dep:regex", "dep:env_filter", "dep:terminal_size", "dep:unicode-width", "dep:ctrlc"]
cli = ["dep:clap", "print"]
prompt = ["print"]

# --- Coroutine ---
coroutine = [
    "dep:tokio", "dep:num_cpus",
    "tokio/sync", "tokio/io-util", "tokio/io-std",
    "tokio/time",
]
coroutine-heavy = ["coroutine"] # enable heavy coroutine drived by multi-threaded tokio runtime

# --- File System ---
process = [ # enable spawning child processes
    "coroutine", "fs",
    "dep:spin",
    "tokio/process",
]
fs = [ # enable file system and path util
    "dep:which", "dep:pathdiff", "dep:dunce", "dep:filetime", "dep:glob",
    "tokio?/fs"
]

# Enable parsing utils
parse = []
serde = ["dep:serde"]
json = ["parse", "serde", "dep:serde_json"]
json-preserve-order = ["json", "serde_json/preserve_order"]
yaml = ["parse", "serde", "dep:serde_yaml_ng"]
toml = ["parse", "serde", "dep:toml"]
toml-preserve-order = ["toml", "toml/preserve_order"]
parse-impl = ["parse"] # re-export implementation details, such as toml::ser

# Internally used to document where nightly feature is used
# (in particular, doc_cfg)
nightly = []

# Static (compile-time) logging toggles
release-nolog= ["log/release_max_level_off"]
release-nodebuglog = ["log/release_max_level_info"]
derive = ["dep:derive_more"]

# Internally used to enable test features
__test = []

[[example]]
name = "prompt"
required-features = ["prompt", "cli", "parse"]

[[example]]
name = "process"
required-features = ["prompt", "cli", "process"]

[[example]]
name = "walk"
required-features = ["fs", "cli"]

[[example]]
name = "cargo"
required-features = ["process", "cli", "json"]

[[example]]
name = "ctrlc"
required-features = ["cli", "coroutine"]
